:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --btn-color: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --background-gradient: linear-gradient(
    -60deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100%;
  max-width: 144rem;
  max-height: 80rem;
  display: flex;
}

.message {
  max-width: 83rem;
  height: 100%;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  padding: 6.5rem 16.5rem;
}

.main-title {
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.75rem;
  margin-top: 13.2rem;
  line-height: 1.07;
  color: var(--dark-grayish-red);
}

.main-title > span:first-child {
  color: var(--desaturated-red);
  font-weight: 300;
  line-height: 0.8;
}

.main-paragraph {
  font-size: 1.7rem;
  color: var(--desaturated-red);
  max-width: 45rem;
  line-height: 1.7;
  letter-spacing: -0.3px;
  margin-top: 2rem;
  margin-bottom: 3.6rem;
}

form {
  position: relative;
}
#email {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  font-size: 1.6rem;
  padding: 1.9rem 3rem;
  border-radius: 100rem;
  border: 1.5px solid var(--desaturated-red);
  background-color: transparent;
  opacity: 0.3;
}

#email.error,
#email.error:focus {
  outline: none;
  border: 2px solid red;
}

form > button {
  position: absolute;
  right: 5.5rem;
  top: 0;
  border: none;
  border-radius: 100rem;
  padding: calc(1.9rem - 3px) 3rem;
  width: 10rem;
  background: var(--btn-color);
  box-shadow: 0px 12px 20px hsl(0, 80%, 90%);
}

form > button:hover {
  cursor: pointer;
  background: hsl(0, 80%, 90%);
  box-shadow: 0px 12px 30px 2px hsla(0, 30%, 52%, 0.5);
}

form > img.error {
  position: absolute;
  right: 17rem;
  top: 1.5rem;
  display: block;
  visibility: visible;
  pointer-events: all;
}

form > img,
form > .error-msg {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

form > .error-msg.error {
  display: block;
  visibility: visible;
  pointer-events: all;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: hsl(0, 74%, 74%);
}

.hero-desktop {
  width: 61rem;
  height: 100%;
}

.hero-mobile {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

footer {
  position: absolute;
  bottom: 1rem;
  margin: 0;
}

@media (max-width: 600px) {
  body {
    height: fit-content;
    align-items: flex-start;
  }
  main {
    padding: 0;
    justify-content: center;
    align-items: flex-start;
  }

  .message {
    height: 100%;
    padding: 0;
    padding-top: 4.2rem;
    padding-bottom: 9.6rem;
    width: 100%;
  }
  .logo {
    width: 10rem;
    margin-left: 3.2rem;
    margin-left: 5%;
    margin-bottom: 2.8rem;
  }

  .main-paragraph,
  .main-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 37.5rem;
  }

  #email {
    margin-left: 3.2rem;
  }

  form > button {
    right: 3rem;
  }

  .hero-desktop {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .hero-mobile {
    display: block;
    visibility: visible;
    pointer-events: all;
    width: 100%;
  }

  .main-title {
    font-size: 4rem;
    letter-spacing: 1rem;
    margin-top: 6.2rem;
  }

  .main-paragraph {
    font-size: 1.5rem;
    color: var(--desaturated-red);
    max-width: 45rem;
    line-height: 1.4;
    margin-top: 1.5rem;
    margin-bottom: 3.6rem;
    margin-left: 10%;
    margin-right: 10%;
  }
}
